.location {
    height: 100vh;
    background-color: rgb(235, 235, 235);
}

.map {
    height: 500px;
    padding: 1rem;
    margin-top: 20px;
    border-radius: 16px;
    box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
}

.map .leaflet-container {
    height: 100%;
    border-radius: 16px;
}
