* {
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  padding: 5px;
  background-color: #000000;
  color: #bdbdbd;
}

.header__left > h2,
.header__right > h2 {
  font-weight: 300;
  text-transform: capitalize;
}

.header__left {
  display: flex;
  align-items: center;
  min-width: 100px;
  justify-content: space-evenly;
}

.header__right {
  min-width: 100px;
  margin-right: 10px;
}

@media (max-width: 600px) {
  .header__left > h2,
  .header__right > h2 {
    font-size: 20px;
  }

  .header__left > .navbar > .MuiSvgIcon-root {
    font-size: 18px;
  }
}